<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Agencias</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top custom-navbar">
        <div class="container">
            <a class="navbar-brand fw-bold" href="#">Jujuy Travel</a>

            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="../index.html">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="../views/destino.html">Destinos</a></li>
                    <li class="nav-item"><a class="nav-link" href="../views/agencia.html">Agencias</a></li>
                    <li class="nav-item"><a class="nav-link" href="../views/precio.html">Precios</a></li>
                    <li class="nav-item"><a class="nav-link" href="../views/blog.html">Blog</a></li>
                    <li class="nav-item"><a class="nav-link btn btn-warning text-dark ms-2 px-3"
                            href="../views/contacto.html">Contacto</a>
                    </li>
                    <li class="nav-item"><a class="nav-link btn btn-warning text-dark ms-2 px-3"
                            href="../views/phising.html">Phising</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container py-5">

        <h2 class="text-center mb-5">Agencias de Turismo</h2>

        <div class="row g-4">

            <!-- CARD 1 -->
            <div class="col-12 col-md-6 col-lg-4">

                <div class="flip-card">
                    <div class="flip-inner">

                        <div class="flip-front">
                            <h5>Jujuy Travel</h5>
                            <p>Turismo completo</p>
                        </div>

                        <div class="flip-back">
                            <p>✔ Paquetes</p>
                            <p>✔ Guías</p>
                            <p>✔ Transporte</p>
                        </div>

                    </div>
                </div>

                <!-- RATING -->
                <div class="rating text-center mt-3">
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                </div>

            </div>

            <!-- CARD 3 -->
            <div class="col-12 col-md-6 col-lg-4">

                <div class="flip-card">
                    <div class="flip-inner">

                        <div class="flip-front">
                            <h5>Andes Tours</h5>
                            <p>Aventura</p>
                        </div>

                        <div class="flip-back">
                            <p>✔ Excursiones</p>
                            <p>✔ Guías</p>
                        </div>

                    </div>
                </div>

                <!-- RATING -->
                <div class="rating text-center mt-3">
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                </div>

            </div>

            <!-- CARD 2 -->
            <div class="col-12 col-md-6 col-lg-4">

                <div class="flip-card">
                    <div class="flip-inner">

                        <div class="flip-front">
                            <h5>Andes Tours</h5>
                            <p>Aventura</p>
                        </div>

                        <div class="flip-back">
                            <p>✔ Excursiones</p>
                            <p>✔ Guías</p>
                        </div>

                    </div>
                </div>

                <!-- RATING -->
                <div class="rating text-center mt-3">
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                </div>

            </div>
        </div>

    </div>
</body>
<!-- FOOTER -->
<footer class="footer text-white">
    <div class="container text-center">

        <div class="mb-3 social-icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
        </div>

        <p>© 2026 Turismo Jujuy</p>

        <iframe src="https://maps.google.com/maps?q=jujuy&output=embed"></iframe>

    </div>
</footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="../js/script.js"></script>

</html>